footer {
  text-align: center;
  background-color: ;
}
.centrado {
  text-align: center;
}
.edi {
  display: inline-block;
}
.card-columns {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Oswald', sans-serif;
}
.textj {
  text-align: center;
}
h3 {
  font-family: 'Oswald', sans-serif;
}
h1 {

}.bloque {
  background-image: url(../img/visual-13.png);
}
.card-columns {
  background-color: ;
}
h4 {
  font-family: 'Oswald', sans-serif
}
